.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px ;
}

.modal-form .modal-field {
  margin-top: 15px;
}

.modal-form button {
  margin-top: 15px;
  align-self: flex-end;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #121619;
  display: flex;
  flex-direction: row;
}

.navbar .left-side {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.navbar .left-side img {
  width: 50px;
}

.navbar .right-side {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navbar .right-side button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .right-side svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 900px) {
  
  .navbar .left-side {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 680px) {
  .navbar .right-side a {
    display: none;
  }

  .navbar .right-side {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .right-side .drop-menu {
    display: inherit;
  }
}

@media only screen and (min-width: 680px) {
  .navbar .right-side .drop-menu {
    display: none;
  }
}
